In [1]:
print('''
Hello, My name is Parag.
I am a software engineer at Motherson Sumi Infotech and Design Limited.''')

Hello, My name is Parag.
I am a software engineer at Motherson Sumi Infotech and Design Limited.

# NUMBERS

In [2]:
10 + 2

12

In [3]:
10 - 2

8

In [4]:
10 * 2

20

In [5]:
10 / 2

5.0

In [6]:
10 // 2

5

In [7]:
10 ** 2

100

# DATA TYPES

In [8]:
type(10)

int

In [9]:
type(1.2)

float

In [10]:
type(2 + 5j)

complex

In [24]:
type(True)

bool

In [11]:
type('Parag')

str

In [12]:
a = 10
print(type(a))

<class 'int'>

In [21]:
type((1,2,3,4,5))

tuple

In [22]:
type({1,2,3,4,5})

set

In [20]:
type([1,2,3,4,5])

list

In [23]:
type({1:"apple", 2:"banana", 3:"cherry", 4:"guava"})

dict

In [13]:
w = 'Parag Pujari'
print(w)
print(type(w))

Parag Pujari
<class 'str'>

In [14]:
a = 20
b = 10
print(a * b)
print(a / b)
print((a + b)/ (a/b))

200
2.0
15.0

In [15]:
print("Hello")

Hello

In [16]:
first_name = "Parag"
last_name  =  " Pujari"
print("My name is {} and my title is {}".format(first_name, last_name))

My name is Parag and my title is  Pujari

In [18]:
first_name = "Parag"
last_name  =  " Pujari"
print("My title is {1} and my name is {0}".format(first_name, last_name))

My title is  Pujari and my name is Parag

In [19]:
print(len("Parag"))

5